<<<<<<< HEAD
<h1>This is the about page</h1>
<%= link_to "Home", root_path %>
=======
<h1> "Hello I'm Leah!" </h1>

<%= link_to 'Home', pages_home_path %>
>>>>>>> bd2383f5241cc430a4ba98b1216bd0e26f046b5c
